/* styles.css */

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Cor de fundo do modo escuro */
    color: #fff; /* Cor do texto principal no modo escuro */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #333; /* Cor de fundo do contêiner no modo escuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #fff; /* Cor do título */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Cor de fundo dos campos de entrada */
    color: #000; /* Cor do texto nos campos de entrada */
}

button,
a.button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
}

button:hover,
a.button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

#response {
    margin-top: 10px;
    color: #ccc; /* Cor do texto da resposta */
}

/* Estilos do console */
.console-container {
    margin-top: 20px;
    background-color: #333; /* Cor de fundo do console */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px; /* Adicionado padding para separar o console do contêiner */
}

.console {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    background-color: #222; /* Cor de fundo do console */
    color: #ccc; /* Cor do texto do console */
}
